*{
    padding: 0;
    margin: 0;
    /* font-size: 14px; */
    font-family: "Noto Sans", sans-serif;
    /* color: #989fa5; */
}
body{
    background-color: #1b1c1d;
}
html{
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss"
